$primary: #832e5b;
$primary-light: #b65386;
$primary-dark: #903564;
$secondary:#d2d0d0;
$secondary-light: #dbdbdb;
$secondary-dark: #696969;
$grey: #4d4d4d;
$black: #000000;  
$white: #ffffff;
$red : #ce2121;
$warning: #ffc107;
$page-background :#f2f3f4;
$read-background: #fff7fc;