@import '../../../../scss/colors.scss';

#container {
    width: 200px;
    height: 200px;
    border-radius: 130px;
    background: #eaeaeaa3;
    margin-bottom: 10px;
}

#name img {
    border-radius: 50%;
    margin-bottom: 6px;
    border: solid white;
}

.product {
    display: inherit;
    overflow: auto;
    margin: 0px;
    .name {
        display: block;
        font-size: 22px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: auto;
    }
    .other {
        font-size: 18px;
        margin: auto;
    }
}
