<div class="page-wrap d-flex flex-row align-items-center bg-image">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center text-primary">
                <span class="display-1 d-block error-code">{{errorCode}}</span>
                <div class="mb-4 error-text">{{errormessage}}</div>
                <button (click)="goBack()" class="mr-2 btn secondary-btn">Go Back</button>
                <button (click)="goHome()" class="btn primary-btn">Home</button>
            </div>
        </div>
    </div>
</div>