<div class="menubar" [ngClass]="{'active': sidebarOpened}" id="wrapper">
    <div class="nav-menu-reponsive">
        <ul class="nav-menu p-0">
            <li [ngClass]="{'nav-active': selectedItem == 1}" (click)="navigateToHome()"><a
                    (click)="toggleactiveMenu(1)" routerLink="/home"><i class="pr-2 fa fa-home"
                        aria-hidden="true"></i>Home</a></li>
            <li [ngClass]="{'nav-active': selectedItem == 2}" (click)="navigateToTrash()"><a
                    (click)="toggleactiveMenu(2)" routerLink="/trash"><i class="pr-2 fa fa-trash"></i>Trash</a>
            </li>
        </ul>
    </div>
</div>