<div class="container-fluid container-fluid-cst">
    <div class="row justify-content-end">
        <div class="col-lg-2 col-xl-2 col-md-2 col-sm-12 col-12 mb-3">
            <form [formGroup]="searchFilterForm" *ngIf="products.length !== 0">
                <input name="search" class="form-control" formControlName="searchString" placeholder="Search product"
                    title="Search by product name">
            </form>
        </div>
    </div>
    <div class="row" *ngIf="products.length===0">
        <div class="no-records">
            <img src="assets/images/no-data.png" alt="No Records Found" class="mb-3">
            <div>
                <h4 class="title-color">No products found !!!</h4>
            </div>
            <p class="title-color">Hurry, you can be the first one to create one...</p>
        </div>
    </div>
    <div class="row" *ngIf="products.length!==0">
        <div *ngFor="let product of products" class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-12">
            <app-item-desplay [item]="product" [isActive]="true"></app-item-desplay>
        </div>
    </div>
    <div class="new-create">
        <i class="fa fa-plus-circle pointer cursor-p" (click)="create()"></i>
    </div>
</div>